.App{
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

nav{
  height: 80px;
  background: #1b1b1b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px 0px 100px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 8px 10px;
}

nav .logo {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}

.nav-links a {
  color: #fff;
  padding: 8px 10px;
  border-radius: 5px;
  text-decoration: none;
}

a:hover, a:active {
  background-color: #fff;
  color: #1b1b1b;
  transition: all 0.3s ease;
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.displayTable{
  display: table;
  justify-content: center;
  align-items: center;
  border: solid black;
  border-collapse: collapse;
  width: 45%;
  margin-left: auto;
  margin-right: auto;
}

.displayTable caption{
  color: darkslategray;
} 

.displayTable th{
  border: solid black .1em;
  color: black;
  background-color: lightslategray;
}

.displayTable tr{
  border: solid black .1em;
  background-color: gainsboro;
  color: black;
}

.displayTable td{
  border-right: solid black .1em;
  border-left: solid black .1em;
  color: black;
}